In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

In [3]:
df = pd.read_csv('drive_stats_2019_Q1/2019-01-01.csv')

In [4]:
df.shape

(106918, 129)

In [5]:
drive_models = df.groupby(by='model').count()

In [6]:
drive_models.head()

,date,serial_number,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,smart_3_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
model,,,,,,,,,,,,,,,,,,,,,
HGST HDS5C4040ALE630,50,50,50,50,50,50,50,50,50,50,...,0,0,0,0,0,0,0,0,0,0
HGST HMS5C4040ALE640,4678,4678,4678,4678,4678,4678,4678,4678,4678,4678,...,0,0,0,0,0,0,0,0,0,0
HGST HMS5C4040BLE640,14550,14550,14550,14550,14550,14550,14550,14550,14550,14550,...,0,0,0,0,0,0,0,0,0,0
HGST HMS5C4040BLE641,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
HGST HUH721010ALE600,10,10,10,10,10,10,10,10,10,10,...,0,0,0,0,0,0,0,0,0,0

In [7]:
drive_models = drive_models.serial_number.reset_index().rename(columns={'serial_number':'count'})

In [8]:
#drive_models

In [9]:
models = drive_models['model'].tolist()

In [10]:
# models

In [11]:
names = [] # Empty list to hold new dataframe names

for model in models:
    model_name = model.replace(' ', '_')
    model_name = model_name.replace('-', '_')
    names.append(model_name)
    vars()[model_name] = df[df.model == model]
    
    
print(names)

['HGST_HDS5C4040ALE630', 'HGST_HMS5C4040ALE640', 'HGST_HMS5C4040BLE640', 'HGST_HMS5C4040BLE641', 'HGST_HUH721010ALE600', 'HGST_HUH721212ALN604', 'HGST_HUH728080ALE600', 'HGST_HUS726040ALE610', 'Hitachi_HDS5C4040ALE630', 'Hitachi_HDS724040ALE640', 'ST10000NM0086', 'ST1000LM024_HN', 'ST12000NM0007', 'ST250LM004_HN', 'ST3160316AS', 'ST3160318AS', 'ST320LT007', 'ST4000DM000', 'ST4000DM005', 'ST500LM012_HN', 'ST500LM030', 'ST6000DM001', 'ST6000DM004', 'ST6000DX000', 'ST8000DM002', 'ST8000DM004', 'ST8000DM005', 'ST8000NM0055', 'Seagate_BarraCuda_SSD_ZA2000CM10002', 'Seagate_BarraCuda_SSD_ZA500CM10002', 'TOSHIBA_HDWE160', 'TOSHIBA_HDWF180', 'TOSHIBA_MD04ABA400V', 'TOSHIBA_MD04ABA500V', 'TOSHIBA_MG07ACA14TA', 'TOSHIBA_MQ01ABF050', 'TOSHIBA_MQ01ABF050M', 'WDC_WD1600AAJS', 'WDC_WD2500AAJS', 'WDC_WD3200AAJS', 'WDC_WD3200BEKX', 'WDC_WD40EFRX', 'WDC_WD5000BPKT', 'WDC_WD5000LPCX', 'WDC_WD5000LPVX', 'WDC_WD60EFRX']

In [16]:
for name in names:
    vars()[name].head(2)

In [103]:
Seagate_BarraCuda_SSD_ZA2000CM10002

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
99262,1/2/2019,7M20022F,Seagate BarraCuda SSD ZA2000CM10002,2.000400e+12,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
type(HGST_HDS5C4040ALE630)

pandas.core.frame.DataFrame